.evento {
    background-color: white;
    border-radius: 50%;
    border: 2px solid #364c59;
    width: 128px;
    height: 128px;
}

.eventos {
    border: 2px solid #364c59;
    border-radius: 15px;
}

h4 {
    margin-bottom: 0 !important;
}