/***** CLASES OBLIGATORIAS *****/
:root {
    --udaColor: #364c59;
}

body {
    font-family: 'Montserrat semibold', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 106px !important;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat semibold', sans-serif;
}

h1 {
    margin-bottom: 0 !important;
}

p {
    font-family: 'Trebuchet MS', sans-serif;
}
/***** FIN DE CLASES OBLIGATORIAS *****/

/***** CLASE QUE DEFINE EL TÍTULO DE UNA SECCIÓN DE LA PÁGINA *****/
.zonasTitulo {
    background-color: #364c59; color: white;
    text-align: center;
    padding: 1% 1%;
}

/***** TODAS LAS CLASES QUE RELACIONAN A UN LINK, LINKS O RELACIONADOS (botones, dropdowns) <a> *****/
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #dbca11;
    }

    .header-top a {
        color: white;
    }

    .navbarData {
        background-color: var(--udaColor);
        z-index: 10;
    }

    .navbarData a:hover {
        color: #dbca11;

    }

    .header-top button {
        color: white;
    }

    footer a {
        color: white;
    }

    .dropdown-menu {
        background-color: #364c59;
    }

    .dropdown-item:hover {
        background-color: #364c59;
        color: #dbca11;
    }

    .dropdown-toggle:hover {
        color: #dbca11;
    }

    .dropdown-toggle:hover:active {
        color: #dbca11;
    }

    .boton {
        background-color: white;
        border: 2px solid #364c59;
        border-radius: 10px;
    }

    .login-btn {
        color: white;
    }

    .login-btn:hover {
        color: #dbca11;
    }

    .login-btn:hover:active {
        color: #dbca11;
    }
/***** FIN DE *****/

footer {
    background-color: #364c59;
    color: white;
}

.carousel-caption, h1 {
    height: 80%;
}

/***** MODAL *****/
    .modal-content {
        background-color: #364c59;
        color: white;
    }
    /***** BOTON QUE CIERRA UN MODAL *****/
        .close {
            background-color: #364c59;
            color: white;
            border: 1px solid white;
        }
        .close:hover {
            border: 1px solid #dbca11;
            color: #dbca11;
        }
    /***** FIN DE *****/
/***** FIN DE *****/