:root {
    --udaColor: #364c59;
    --carouselHeight: 35rem;
}

body {
    font-family: 'Montserrat semibold', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 106px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat semibold', sans-serif;
}

h1 {
    margin-bottom: 0 !important; /* me jodia el titulo "Tesis", Por lo que me iba a joder el resto */
}

p {
    font-family: 'Trebuchet MS', sans-serif;
}

.header-top a {
    text-decoration: none;
    color: white;
}

.navbarData {
    background-color: var(--udaColor);
    z-index: 10;
}

footer a {
    text-decoration: none;
    color: white;
}

.dropdown-toggle:hover {
    color: #dbca11;
}

.dropdown-toggle:hover:active {
    color: #dbca11;
}

a:hover {
    color: #dbca11;
}

.header-top button {
    color: white;
}

footer {
    background-color: #364c59;
    color: white;
}

.carousel-caption, h1 {
    height: 80%;
}
.carousel-caption {
    height: 80%;
}