:root {
    --udaColor: #364c59;
}

body {
    font-family: 'Montserrat semibold', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 106px !important;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat semibold', sans-serif;
}

h1 {
    margin-bottom: 0 !important; /*Diego: me jodia el titulo "Tesis", Por lo que me iba a joder el resto */
}

p {
    font-family: 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header-top a {
    color: white;
}


.zonasTitulo {
    background-color: #364c59; color: white;
    text-align: center;
    padding: 1% 1%;
}

.navbarData {
    background-color: var(--udaColor);
    z-index: 10;
}

footer a {
    color: white;
}

.dropdown-toggle:hover {
    color: #dbca11;
}

.dropdown-toggle:hover:active {
    color: #dbca11;
}

a:hover {
    color: #dbca11;
}

.header-top button {
    color: white;
}

.boton {
    background-color: white;
    border: 2px solid #364c59;
    border-radius: 10px;
}

.dropdown-menu {
    background-color: #364c59;
}

.dropdown-item:hover {
    background-color: #364c59;
    color: #dbca11;
}

.login-btn {
    color: white;
}

.login-btn:hover {
    color: #dbca11;
}

.login-btn:hover:active {
    color: #dbca11;
}

footer {
    background-color: #364c59;
    color: white;
}

.carousel-caption, h1 {
    height: 80%;
}

.modal-content {
    background-color: #364c59;
    color: white;
}

.close {
    background-color: #364c59;
    color: white;
    border: 1px solid white;
}

.close:hover {
    border: 1px solid #dbca11;
    color: #dbca11;
}