.boton {
    background-color: #364c59;
    border: 2px solid black;
    border-radius: 10px;
}

.boton a {
    color: white;
}

.boton a:hover {
    color: #dbca11;
}

.zona {
    border: 2px solid #364c59;
}

.zona-imagen {
    border-right: 2px solid #364c59;
}

h2 {
    margin-bottom: 0;
}

thead {
    text-align: center;
}

.img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border: 2px solid var(--udaColor);
    border-radius: 50%;
    background-color: white;
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}