
/*
.icon{
    margin: 20px;
    max-height: 30px;
};
*/

.boton {
    background-color: #364c59;
    border: 2px solid black;
    border-radius: 10px;
}

.boton a {
    color: white;
}

.boton a:hover {
    color: #dbca11;
}

.zona {
    border: 2px solid #364c59;
}

.zona-imagen {
    border-right: 2px solid #364c59;
}

h2 {
    margin-bottom: 0;
}

thead {
    text-align: center;
}