
/*
.icon{
    margin: 20px;
    max-height: 30px;
};
*/

.zona {
    border: 2px solid #364c59;
}

.zona-imagen {
    border-right: 2px solid #364c59
}

.foption{
    font-family: 'Trebuchet MS';
    color: white;
    border: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    background-color: #364c59;
};