main {
    padding-top: 5rem;
    background-image: url("../src/FotosDIICC/_ALX9326.JPG");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.profileIMG {
    border: 2px solid var(--udaColor);
    border-radius: 50%;
    height: 128px;
    width: 128px;
    background-color: white;
}

.perfil {
    border-radius: 100px 100px 0 0;
    background: linear-gradient(var(--udaColorTras), var(--udaColor));
    backdrop-filter: blur(10px);
    color: white;
}

.boton:hover {
    background-color: var(--udaColor);
    color: white;
}

.boton:hover:active {
    background-color: var(--udaColor);
    color: white;
    border: 2px solid var(--udaColor);
    filter: brightness(1.5);
}

.thesisSpace {
    background-color: var(--udaColor);
    color: white;
}
.thesisMenu {
    background-color: white;
}
.thesisContainer {
    width: 186px;
    height: 124px;
    border: 2px solid var(--udaColor);
    border-radius: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden;
}
.thesisPhoto {
    object-fit: cover;
    width: 186px;
    height: 124px;
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.collabPhoto {
    object-fit: cover;
    width: 64px;
    height: 64px;
    border: 2px solid var(--udaColor);
    border-radius: 50%;
    background-color: white;
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}