.profileIMG {
    border: 2px solid var(--udaColor);
    border-radius: 50%;
    height: 128px;
    width: 128px;
    background-color: white;
}

.perfil {
    border: 2px solid var(--udaColor);
    border-radius: 15px;
    background-color: lightgray;
}

.lateral {
    border-right: 2px solid var(--udaColor);
}

.vertical {
    border-bottom: 2px solid var(--udaColor);
}

.boton {
    background-color: var(--udaColor);
    border: 2px solid black;
    border-radius: 10px;
}

.boton:hover {
    background-color: var(--udaColor);
    color: white;
}

.boton:hover:active {
    background-color: var(--udaColor);
    color: white;
    border: 2px solid var(--udaColor);
}

.thesisSpace {
    background-color: var(--udaColor);
    color: white;
}