.usuario {
    background-color: white;
    border-radius: 50%;
    border: 2px solid #364c59;
    width: 128px;
    height: 128px;
}

.tesistas {
    border: 2px solid #364c59;
    border-radius: 15px;
}

.boton {
    color: dark;
}

.boton:hover {
    background-color: #364c59;
    color: white
}

h4 {
    margin-bottom: 0 !important;
}